﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#txt_userid').focus();
    });

    function auth() {
        var getUrlString = location.href;
        var url = new URL(getUrlString);
        var hostName = url.hostname
        console.log("hostName:" + hostName);
        if (hostName == 'localhost') {
            hostName = '';
        }
        else {
            hostName = '';
        }

        var strUrl = hostName + "/Login/Get/";
        var dataJSON = {};
        dataJSON["UserName"] = document.getElementById("txt_userid").value;
        dataJSON["Password"] = document.getElementById("txt_password").value;
        console.log("confirm data:" + JSON.stringify(dataJSON));
        $.ajax({
            type: "Post",
            contentType: "application/json",
            url: strUrl,
            data: JSON.stringify(dataJSON),
            dataType: 'json',
            success: function (data) {
                console.log("get token sucess!");
                console.log("data:" + JSON.stringify(data));
                if (data.code == 200) {
                    $.cookie('user', data.data, { path: '/', expires: 20 });
                    $(location).prop('href', hostName + '/Home/Main/');
                }
                else {
                    alert("帳號密碼錯誤")
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                if (jqXHR.status == 401) {
                    alert("帳號密碼錯誤")
                }
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }

</script>

<div class="well">
    <div class="form-group">
        <div class="col-md-10">
            <Label for="txt_userid">帳號：</Label>
            <input type="text" id="txt_userid" style="text-transform:uppercase" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label for="txt_password">密碼：</label>
            <input type="password" id="txt_password" />
        </div>
    </div>
    <br />
    <div class="row"></div>
    <div class="form-group">
        <input type="button" value="確定" id="btn_confirm" class="btn btn-danger" onclick="auth()" />
    </div>
</div>



