﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        console.log("start");
        var user = $.cookie('user');
        console.log("user:" + user);
        document.getElementById("lbl_username").innerText = user + " 登入成功!";
    });

</script>

<div>
    <h3><label id="lbl_username" /></h3>
</div>


